<%= stylesheet_link_tag 'sections', media: 'all' %>
  
<div id="<%= dom_id section %>">

  <p class="section-number">Lecture Section
    <%= section.sectionNumber %>
  </p>

  <p class="section-text">
    <%= section.instructionMode %>
  </p>

  <p class="section-text">
    <%= section.location %>
  </p>

  <p class="section-text">
    <%= section.startTime %>
    -
    <%= section.endTime %>
  </p>

  <p class="section-text">
    <%= section.meetingDays %>
  </p>

  <p class="section-text">
    <%= section.endDate %>
    -
    <%= section.startDate %>
  </p>

  <p class="section-text">
    Instructor:
    <%= section.instructorName %>
  </p>

</div>

