<div id="<%= dom_id section %>">
  <p>
    <strong>Courseid:</strong>
    <%= section.courseId %>
  </p>

  <p>
    <strong>Sectionnumber:</strong>
    <%= section.sectionNumber %>
  </p>

  <p>
    <strong>Instructionmode:</strong>
    <%= section.instructionMode %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= section.location %>
  </p>

  <p>
    <strong>Starttime:</strong>
    <%= section.startTime %>
  </p>

  <p>
    <strong>Endtime:</strong>
    <%= section.endTime %>
  </p>

  <p>
    <strong>Startdate:</strong>
    <%= section.startDate %>
  </p>

  <p>
    <strong>Enddate:</strong>
    <%= section.endDate %>
  </p>

  <p>
    <strong>Meetingdays:</strong>
    <%= section.meetingDays %>
  </p>

  <p>
    <strong>Instructorname:</strong>
    <%= section.instructorName %>
  </p>

</div>
