<p style="color: green"><%= notice %></p>

<%= render @section %>

<div>
<% if current_user.admin? %>
  <%= link_to "Edit this section", edit_section_path(@section) %> |
<% end %>
  <%= link_to "Back to courses", course_path %>
<% if current_user.admin? %>
  <%= button_to "Destroy this section", @section, method: :delete %>
  <% end %>
</div>
