<div id="<%= dom_id course %>">
  <p>
    <strong>Subject:</strong>
    <%= course.subject %>
  </p>

  <p>
    <strong>Catalognumber:</strong>
    <%= course.catalogNumber %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= course.title %>
  </p>

  <p>
    <strong>Term:</strong>
    <%= course.term %>
  </p>

  <p>
    <strong>Campus:</strong>
    <%= course.campus %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= course.description %>
  </p>

  <p>
    <strong>Credits:</strong>
    <%= course.credits %>
  </p>

</div>
