<div id="<%= dom_id course %>" class="course-container">
  <p class="course-title">
    <%= course.subject %>
  </p>

  <p class="course-catalog-number">
    <%= course.catalogNumber %>
  </p>

  <p class="course-title">
    <%= course.title %>
  </p>

  <p class="course-term">
    <%= course.term %>
  </p>

  <p class="course-campus">
    <%= course.campus %>
  </p>

  <p class="course-description">
    <%= course.description %>
  </p>

  <p class="course-credits">
    <%= course.credits %>
  </p>
</div>
