<p style="color: green"><%= notice %></p>

<div class="course-container">

  <%= render @course %>

  <% if current_user.admin? %>
    <%= link_to "Edit this course", edit_course_path(@course) %> |
  <% end %>
    
  <%= link_to "Back to courses", courses_path %>

  <% if current_user.admin? %>
    <%= button_to "Destroy this course", @course, method: :delete %>
  <% end %>

  
</div>

<h2>Sections for this course:</h2>
<% if current_user.admin? %>
  <%= link_to "New section", new_section_path(courseId: @course.id) %>
<% end %>
<% @sections.each do |section| %>
  <div class="section-container">
    <%= render section %>
    <%= link_to "Show this section", section %>
  </div>
<% end %>
