<p style="color: green"><%= notice %></p>

<div class="course-container">

  <%= render @course %>

  <%= link_to "Edit this course", edit_course_path(@course) %> |
  <%= link_to "Back to courses", courses_path %>

  <%= button_to "Destroy this course", @course, method: :delete %>
</div>
